<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>506769506006-cgpv73ltkmh5h7htc7hioa8td617gsk8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.506769506006-cgpv73ltkmh5h7htc7hioa8td617gsk8</string>
	<key>API_KEY</key>
	<string>AIzaSyB3vFNQuIELQFPFKfaK1a3kQl8C8sI0a5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>506769506006</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rafaelasencio.proyecto01</string>
	<key>PROJECT_ID</key>
	<string>proyecto1-1c6e8</string>
	<key>STORAGE_BUCKET</key>
	<string>proyecto1-1c6e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506769506006:ios:5ebfd5c0bec5aa55</string>
	<key>DATABASE_URL</key>
	<string>https://proyecto1-1c6e8.firebaseio.com</string>
</dict>
</plist>